@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ECF2F8;
    font-family: Manrope;
}

.container{
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);
}

.image-cntr{
    width: 285px;
    height: 280px;
}

img{
    width: 100%;
    height: 100%;
}

.drawers-img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: auto;
}

.content-cntr{
    padding:32px 40px;
    height: 216px;
    width: 365px;
    background: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
}

h1{
    color: #48556A;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.25px;
}

.description{
    color: #6E8098;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.122px;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}


.post-info{
    display: flex;
    justify-content: space-between;
}

.author-info{
    height: 50px;
    display: flex;
    gap: 16px;
}

.author-info_name-date{
    color: #9DAEC2;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.122px;
    
}
span{
    color: #48556A;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.122px;
    display: block;
}

button{
    background-color: #ECF2F8;
    border: none;
    color: #6E8098;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-top:5px;
    transition: all 0.3s;
}

button:hover{
    color: white;
    background-color: #6E8098;
}

.share-box{
    position: absolute;
    left:255px;
    top:145px;
    width: 268px;
    display: flex;
    visibility: hidden;
    transition: all 0.3s;
    opacity: 0;
    
}

.share-box_text{
    position: absolute;
    top:16px;
    left: 45px;
    color: #9DAEC2;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px; /* 153.846% */
    letter-spacing: 5px;
}

.icons{
    position: absolute;
    height: 20px;
    width: 20px;
    gap: 16px;
    display: flex;
    left: 128px;
    top: 16px;
}

.fade-in{
    display: flex;
    visibility: visible;
    opacity: 1;
}

.icons_img{
    transition:all 0.4s;
    cursor: pointer;
}

.icons_img:hover{
    transform:scale(1.3);
}

.share-box-mobile{
    display: none;
}

@media (max-width:1000px){
    .container{
        flex-direction: column;
        box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);
        
    }

    .image-cntr{
        width: 100%;
        height: 200px;
    }

    .drawers-img{
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
        width: 327px;
        height: auto;
    }

    .content-cntr{
        width: 263px;
        height: 248px;
        padding:36px 32px 28px 32px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }

    h1{
        font-size: 16px;
        letter-spacing: 0.2px;
        margin-top: 0;
    }

    .description{
        margin-bottom: 22px;
        margin-top: 0;
        height: 100px;
        width: 253px;
    }
    
    .share-box-mobile{
        width: 100%;
        height: 64px;
        border-radius: 0px 0px 10px 10px;
        background: #48556A;
        position: absolute;
        left: 0;
        display: flex;
        visibility: hidden;
        transition: all 0.3s;
        opacity: 0;
    }

    .fade-in{
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    
    button{
       position: absolute;
       left: 253px;
       bottom: 12px;
       margin-left: 10px;
    }

    .share-box{
        display: none;
    }

    .icons,.share-box_text{
        margin-top: 5px;
    }

    .share-box_text{
        left: 30px;
    }

    .icons{
        left: 113px;
    }
}

